* {
	margin : 0;
	outline : 0;
	padding : 0;
}

body {
	background-color : #ededed;
	color : #646464;
	font-family : 'Verdana', 'Geneva', sans-serif;
	font-size : 12px;
}

input {
	display: block;
	width: 120px;
	margin: 10px;
}

#output {
	margin: 0 20px;
	padding: 20px;
	width: 200px;
	height: 150px;
	position: relative;
	background-color: #000;
	color: #090;
	font-weight: bold;
	font-size: 16px;
	font-family: monospace;
	overflow-x: auto;
	overflow-y: scroll;
}

.actions {
	width: 150px;
}

table {
	margin: auto;
}

h1 {
	font-size : 24px;
	font-weight : normal;
	margin : 0 0 10px 0;
	text-shadow : 0 1px 0 #ffffff;
}

div#wrapper {
	margin : 25px auto 25px auto;
	width : 620px;
}

div.image-decorator {
	-moz-border-radius : 5px 5px 5px 5px;
	-moz-box-shadow : 0 0 6px #c8c8c8;
	-webkit-border-radius : 5px 5px 5px 5px;
	-webkit-box-shadow : 0 0 6px #c8c8c8;
	background-color : #ffffff;
	border : 1px solid #c8c8c8;
	border-radius : 5px 5px 5px 5px;
	box-shadow : 0 0 6px #c8c8c8;
	display : inline-block;
	padding : 5px 5px 5px 5px;
	position: relative;
	margin-bottom: 10px;
}

.select-areas-background-area {
	opacity: 0.8;
}

.dot-area {
	position : absolute;
	cursor: move;
	opacity: 0.5;
	padding: 6px;
	margin: -18px 0 0 -18px;
}

.dot-area:hover {
	opacity: 1;
}

.select-areas-dot-area {
	-moz-border-radius : 20px;
	-webkit-border-radius : 20px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	border: 2px solid #fff;

}
